html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
  }
  main #cars #cars-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #cars #cars-img > div {
    width: 25%;
    text-align: center;
  }
  main #cars #cars-img > div img {
    width: 50%;
    cursor: crosshair;
  }
  main #cars #cars-img > div #green-img {
    width: 85%;
  }
  main #cars #cars-img > div p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(27, 27, 27);
  }
  main #car-div {
    width: 60%;
    height: 200px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  main #car-div #example-car {
    width: 200px;
    -webkit-animation: example-car 1s ease infinite;
            animation: example-car 1s ease infinite;
  }
  main #car-div span {
    font-size: 2.5rem;
    color: black;
    text-shadow: 4px 4px 6px grey;
    text-align: center;
    margin-left: 25%;
  }
  @-webkit-keyframes example-car {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.03, 1.03);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes example-car {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.03, 1.03);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  main #car-div .choosen-car {
    width: 200px;
  }
  @-webkit-keyframes start {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(300%);
    }
    51% {
      transform: rotatey(-180deg);
      transition-delay: 2s;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes start {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(300%);
    }
    51% {
      transform: rotatey(-180deg);
      transition-delay: 2s;
    }
    100% {
      transform: translateX(0);
    }
  }
  main h1 {
    margin-top: 1rem;
    font-size: 2rem;
    color: rgb(83, 83, 83);
    text-shadow: 4px 4px 6px grey;
    text-align: center;
  }
  main h2 {
    text-align: center;
    margin-top: 1rem;
  }
  main #btn-div {
    text-align: center;
    margin-top: 1rem;
  }
  main #btn-div #start-btn {
    color: wheat;
    background-color: green;
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  main #btn-div #start-btn:hover {
    background-color: darkgreen;
  }
  main #btn-div #stop-btn {
    color: wheat;
    margin-left: 1rem;
    background-color: red;
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  main #btn-div #stop-btn:hover {
    background-color: darkred;
  }
  main #btn-div #info-car-btn {
    margin-left: 1rem;
    color: wheat;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  main #btn-div #info-car-btn:hover {
    background-color: darkblue;
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  main #cars #cars-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main #cars #cars-img > div {
    width: 50%;
    text-align: center;
  }
  main #cars #cars-img > div img {
    width: 70%;
    cursor: crosshair;
  }
  main #cars #cars-img > div #green-img {
    width: 75%;
  }
  main #cars #cars-img > div p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(27, 27, 27);
  }
  main #car-div {
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  main #car-div #example-car {
    width: 50%;
    -webkit-animation: example-car 1s ease infinite;
            animation: example-car 1s ease infinite;
  }
  main #car-div span {
    font-size: 1rem;
    color: black;
    text-shadow: 4px 4px 6px grey;
    margin-left: 20px;
  }
  @-webkit-keyframes example-car {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.03, 1.03);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes example-car {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.03, 1.03);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  main #car-div .choosen-car {
    width: 50%;
  }
  @-webkit-keyframes start {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(150%);
    }
    51% {
      transform: rotatey(-180deg);
      transition-delay: 2s;
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes start {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(150%);
    }
    51% {
      transform: rotatey(-180deg);
      transition-delay: 2s;
    }
    100% {
      transform: translateX(0);
    }
  }
  main h1 {
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
    text-shadow: 4px 4px 6px grey;
    text-align: center;
  }
  main h2 {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
  }
  main #btn-div {
    text-align: center;
    margin-top: 1rem;
  }
  main #btn-div #start-btn {
    color: wheat;
    background-color: green;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  main #btn-div #start-btn:hover {
    background-color: darkgreen;
  }
  main #btn-div #stop-btn {
    color: wheat;
    margin-left: 1rem;
    background-color: red;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  main #btn-div #stop-btn:hover {
    background-color: darkred;
  }
  main #btn-div #info-car-btn {
    margin-left: 1rem;
    color: wheat;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  main #btn-div #info-car-btn:hover {
    background-color: darkblue;
  }
}/*# sourceMappingURL=style.css.map */